HELP.md
.gradle
!gradle/
!gradle/wrapper/
build/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
!**/src/main/**/build/
!**/src/test/**/build/
*.log

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/
/test-results/
*.jar
*.war
*.ear

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### YAML ###
src/main/resources/application.yml


## 필요한 경우 data.sql 추가:
src/main/resources/data.sql
src/main/resources/clear_data.sql
src/main/resources/new_data.sql
src/main/resources/new_comments.sql

# QueryDSL Q타입
/src/main/generated/


gradle.properties

### pem key ###
valanse.pem
new-valanse.pem
